body {
    background: darkseagreen;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(2, 2, 2);
    padding: 15px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
}

section {
    background-color: darkolivegreen;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

p {
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    background: olivedrab;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: darkseagreen;
}

#erro {
    margin-top: 8px;
    color: red;
    font-weight: bold;
}

#lista-ranking li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
